@page "/cases"
@inject HttpClient Http





@if (cases == null)
{
   <div class="spinner"></div>
}
else
{
<div class="row m-5">
    <h1 class="text-secondary col-8">Cases</h1>
    <div class="col-1 justify-content-center">
        <NavLink href="/addcase" class="btn btn-primary form-control">New Case</NavLink>
    </div>
    <table class="table table-bordered table-striped">
        <tbody>

            <tr>
                <th width="4%">Id</th>
                <th width="15%">Clients Name</th>
                <th width="17%">Created</th>
                <th width="10%">Status</th>
                <th width="41%">Description</th>
                <th width="10%"></th>
            </tr>

            @foreach (var x in cases)
            {
                <tr>
                    <td width="4%">@x.Id</td>
                    <td width="15%">@x.Client.FullName</td>
                    <td width="17%">@x.Created</td>
                    <td width="10%">@x.StatusCode</td>
                    <td width="41%">@x.Descrip</td>
                    <td width="10%"><a href="cases/@x.Id">Edit</a></td>

                </tr>

            }
        </tbody>
    </table>
</div>
    
}

@code {
    private Case[] cases;
    private HttpResponseMessage result;


    protected override async Task OnInitializedAsync()
    {
        try
        {
            cases = await Http.GetFromJsonAsync<Case[]>("https://localhost:44350/api/cases");
        }
        catch { }


    }


}
